<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ เราได้รับหลักฐานการโอนเงินแล้วคุณแล้ว ตอนนี้กำลังส่งให้เจ้าหน้าที่ตรวจสอบ ซึ่งจะใช้เวลาไม่เกิน 24 ชั่วโมงค่ะ หลังจากที่เราตรวจสอบหลักฐานแล้ว จะมีอีเมลแจ้งเตือนให้ทราบอีกครั้งค่ะ <b>ใบสั่งซื้อหมายเลข %order_id%</b> ยอดชำระ <b>%summary_payment%</b> บาท <a href="http://dotdotdot.local/order_detail.php?id=%order_id%">เช็ครายการสินค้าที่นี่</a></p>

	<p><i>ที่อยู่สำหรับจัดส่งสินค้า</i></p>
	<p>ชื่อ: %customer_name%</p>
	<p>ที่อยู่: %customer_address%</p>
	<p>เบอร์โทรศัพท์: %customer_phone%</p>
	<hr>
	<p>ขอบคุณค่ะ</p>
	<p>© 2015 dotdotdot limited</p>
</body>