<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ %sitename% ได้รับหลักฐานการโอนเงินแล้วคุณแล้ว ตอนนี้อยู่ในระหว่างการตรวจสอบ ซึ่งจะใช้เวลาไม่เกิน 24 ชั่วโมงค่ะ หลังจากที่เราตรวจสอบหลักฐานแล้ว จะมีอีเมลแจ้งให้ทราบอีกครั้งค่ะ <b>ใบสั่งซื้อหมายเลข %order_id%</b> ยอดชำระ <b>%summary_payment%</b> บาท <a href="%domain%/order-%order_id%.html#start">เช็ครายการสินค้าที่นี่</a></p>

	<p>
		<b>ที่อยู่สำหรับจัดส่งสินค้า</b><br>
		คุณ %customer_name%<br>
		%customer_address%<br>
		เบอร์ติดต่อ: %customer_phone%
	</p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>