<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>เราได้รับหลักฐานการโอนเงินของคุณแล้ว ตอนนี้อยู่ในระหว่างการตรวจสอบซึ่งจะใช้เวลาไม่เกิน 24 ชั่วโมงค่ะ หลังจากที่เราตรวจสอบหลักฐานแล้ว จะมีอีเมลแจ้งเตือนให้ทราบอีกครั้งค่ะ<br><br><b>ใบสั่งซื้อหมายเลข %order_id%</b> ยอดชำระ <b>%summary_payment%</b> บาท <a href="%domain%/order-%order_id%.html">เช็ครายการสินค้าที่นี่</a></p>

	<p>
		<i>ที่อยู่สำหรับจัดส่งสินค้า</i><br>
		ชื่อ: %customer_name%<br>
		ที่อยู่: %customer_address%<br>
		เบอร์โทรศัพท์: %customer_phone%
	</p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>