<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>ตอนนี้คุณได้เป็นสมาชิกกับ %sitename% เรียบร้อยแล้วและถึงขั้นตอนสุดท้ายของการสมัครสมาชิก คือการยืนยันอีเมลนี้ว่าใช้งานได้จริง โดยที่คุณ คลิกที่ลิ้งนี้<br><br>
		<a href="%domain%/verify.php?email=%email%&code=%code%">%domain%/verify.php?email=%email%&code=%code%</a><br><br>เพื่อยืนยันอีเมลนี้ และถือว่าการสมัครสมาชิกกับ %sitename% เสร็จสมบูรณ์ค่ะ</p>
	<p><i>ปล.หากไม่ยืนยันอีเมล ระบบจะไม่สามารถแจ้งเตือนการสั่งซื้อสินค้าได้ค่ะ</i></p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>