<p><b>ถึง คุณ %name%</b></p>
<p>ตอนนี้คุณได้เป็นสมาชิกกับ dotdotdot limited เรียบร้อยแล้วค่ะ และมาถึงขั้นตอนสุดท้ายของการสมัครสมาชิก คือการยืนยันอีเมลนี้ว่าใช้งานได้จริง โดยที่คุณ คลิกที่ลิ้งนี้ <a href="http://dotdotdot.local/verify.php?email=%email%&code=%code%">http://dotdotdot.local/verify.php?email=%email%&code=%code%</a> เพื่อยืนยันอีเมลนี้ และถือว่าการสมัครสมาชิกกับ dotdotdot limited เสร็จสมบูรณ์ค่ะ</p>
<p><i>ปล. หากไม่ยืนยันอีเมล ระบบจะไม่สามารถแจ้งเตือนการสั่งซื้อสินค้าได้ค่ะ</i></p>
<p>ขอบคุณค่ะ</p>
<p>dotdotdot limited</p>