<body style="font-family:sans-serif;">
	<p><b>ถึงเจ้าของอีเมล %email%</b></p>
	<p>%sitename% ได้รับคำขอ กู้คืนบัญชีผู้ใช้ ของ %email% ซึ่งอาจเกิดจากที่ผู้ใช้ลืมรหัสผ่านที่เคยตั้งเอาไว้ ดังนั้นคุณสามารถตั้งรหัสผ่านใหม่ โดยคลิกที่ลิ้งนี้<br><br>
		<a href="%domain%/change_password.php?email=%email%&code=%code%">%domain%/change_password.php?email=%email%&code=%code%</a><br><br>
		เมื่อเปลี่ยนรหัสผ่านเรียบร้อยแล้วให้คุณเข้าระบบโดยรหัสผ่านใหม่อีกครั้งค่ะ</p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>