<body style="font-family:sans-serif;">
	<p><b>เจ้าของ %email%</b></p>
	<p>สวัสดีค่ะ dotdotdot limited ได้รับคำขอ กู้คืนบัญชีผู้ใช้ ของ %email% ซึ่งอาจเกิดจากที่ผู้ใช้ลืมรหัสผ่านที่เคยตั้งเอาไว้ ดังนั้นคุณสามารถตั้งรหัสผ่านใหม่ โดยคลิกที่ลิ้งนี้ <a href="http://dotdotdot.local/change_password.php?email=%email%&code=%code%">http://dotdotdot.local/change_password.php?email=%email%&code=%code%</a> เมื่อเปลี่ยนรหัสผ่านเรียบร้อยแล้วให้คุณเข้าระบบโดยรหัสผ่านใหม่อีกครั้งค่ะ</p>
	<p>ขอบคุณค่ะ</p>
	<p>© 2015 dotdotdot limited</p>
</body>