<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>คุณได้สั่งซื้อสินค้ากับ %sitename% <b>ใบสั่งซื้อหมายเลข %order_id%</b> โดยมียอดชำระ <b>%summary_payment%</b> บาท <a href="%domain%/order-%order_id%.html">เช็ครายการสินค้าที่นี่</a><br>และเลือกประเภทการจัดส่งสินค้าแบบ<b>%shpping_type%</b></p>
	<p>กำหนดชำระเงินภายในวันที่ <b>%expire_date%</b> หรือในอีก %expire_count% ค่ะ</p>
	<p><i>ช่องทางการโอนเงิน</i></p>
	%bank_list%
	<hr>
	<p>เมื่อคุณโอนเงินแล้ว ถ่ายภาพสลิปไว้หรือแคปเจอร์หน้าจอไว้เป็นหลักฐานและ <a href="%domain%/order-%order_id%.html">แจ้งโอนเงินที่นี่</a><br>หลังจากนั้นทางเราจะตรวจสอบและยืนยันการชำระเงินอีกครั้งนะคะ</p>
	<p><i>ปล.หากคุณไม่ได้ชำระเงินภายในกำหนด เราขอให้สิทธิ์กับลูกค้าท่านต่อไปในการซื้อสินค้าชิ้นนี้ค่ะ</i></p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>