<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ คุณได้สั่งซื้อสินค้ากับ dotdotdot limited <b>ใบสั่งซื้อหมายเลข %order_id%</b> โดยมียอดชำระ <b>%summary_payment%</b> บาท <a href="http://dotdotdot.local/order_detail.php?id=%order_id%">เช็ครายการสินค้าที่นี่</a> มีกำหนดชำระเงินภายในวันที่ %expire_date% (อีก %expire_count%)</p>
	<p><i>ช่องทางการโดยเงิน</i></p>
	%bank_list%
	<hr>
	<p>เมื่อท่านโอนเงินแล้วให้ถ่ายภาพสลิปไว้เป็นหลักฐานและ <a href="http://dotdotdot.local/order-%order_id%.html">แจ้งโอนเงินที่นี่</a></p>
	<p><i>ปล. หากคุณไม่ได้ชำระเงินภายในกำหนด เราขอให้สิทธิ์กับลูกค้าท่านต่อไปนะคะ</i></p>
	<p>ขอบคุณค่ะ</p>
	<p>© 2015 dotdotdot limited</p>
</body>