<html>
<head>
<meta charset="utf-8">
</head>
<body style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;background-color:#FFFFFF;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-family:sans-serif;text-align:center;" >
<div class="container" style="width:100%;float:left;display:inline-block;" >
<div class="topic" style="background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;width:94%;padding-top:3%;padding-bottom:3%;padding-right:3%;padding-left:3%;float:left;display:inline-block;font-size:1.2em;color:#FFFFFF;" >#%order_id% :: ชำระสินค้าแล้ว!</div>
<div class="info" style="width:94%;padding-top:3%;padding-bottom:3%;padding-right:3%;padding-left:3%;float:left;display:inline-block;" >
	<div class="text" style="font-size:1.2em;line-height:1.5em;" >ยอดชำระ %summary_payment% ฿ ตรวจสอบหลักฐานการโอนเงินแล้ว</div>
	<div class="payments success" style="font-size:3em;font-weight:bold;line-height:2em;color:#388E3C;" >ชำระเงินแล้ว!</div>
	<div class="note" style="font-size:1em;color:#AAAAAA;line-height:1.5em;" >หลังจากที่เราจัดส่งสินค้าแล้ว จะมีอีเมลแจ้งเตือนหมายเลขพัสดุให้ทราบค่ะ</div>
</div>
<div class="box" style="width:94%;padding-top:3%;padding-bottom:3%;padding-right:3%;padding-left:3%;float:left;display:inline-block;background-color:#FAFAFA;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-size:1.2em;text-align:left;" >
	<div class="caption" style="color:#AAAAAA;font-size:0.8em;" >จัดส่งสินค้าตามที่อยู่</div>
	<div class="address">
		<p>%address_name%</p>
		<p>%address_text%</p>
		<p>%address_phone%</p>
	</div>
</div>
<div class="footer" style="width:100%;float:left;display:inline-block;border-top-width:1px;border-top-style:solid;border-top-color:#000000;font-size:1em;padding-top:3%;padding-bottom:3%;padding-right:0%;padding-left:0%;font-weight:bold;" >
	<span class="text" style="text-align:right;float:left;" >dotdotdot limited 2016</span>
	<a href="http://dotdotdot.local/order_detail.php?id=%order_id%" style="text-decoration:none;color:#000000;float:right;" >ตรวจสอบรายการสินค้า</a></div>
</div>
</body>
</html>