<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ %sitename% ตรวจสอบใบสั่งซื้อหมายเลข %order_id% ยอดชำระ %summary_payment% บาท <a href="%domain%/order-%order_id%.html#start">เช็ครายการสินค้าที่นี่</a> <b>ได้รับการชำระเงินแล้วค่ะ</b> เรากำลังจัดส่งสินค้าตามที่อยู่ ซึ่งหลังจากที่เราจัดส่งสินค้าแล้ว จะมีอีเมลแจ้งหมายเลขพัสดุให้ทราบอีกครั้งค่ะ</p>
	
	<p>
		<b>ที่อยู่สำหรับจัดส่งสินค้า</b><br>
		คุณ %customer_name%<br>
		%customer_address%<br>
		เบอร์ติดต่อ: %customer_phone%
	</p>
	
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>