.header{
    width: 100%;
    padding: 0% 0%;
    height: 50px;

    .logo{
        font-size: 1.1em;
        padding: 15px 3%;
        height: 20px;
        color: rgba(0, 0, 0, 0.9);
    }
    .account{
        padding: 13px 3%;
        height: 24px;

        .avatar{
            img{
                height: 24px;
                width: 24px;
            }
        }
    }
}

.navigator{
    width: 94%;
    padding: 0% 3%;
    margin-top: 50px;

    ul{

        li{
            padding: 4% 0%;
            margin-right: 5%;
            font-size: 0.8em;

            i{
                margin-right: 10px;
                font-size: 0.8em;
            }
        }

        li.right{
            margin-left: 5%;
            margin-right: 0%;
        }
    }
}

.container{
    width: 100%;
    padding: 0% 0%;

    .topic{
        width: 100%;
        padding: 3% 0%;
        float: left;
        display: inline-block;
        color: #AAAAAA;
        font-size: 0.9em;

        .topic-caption{
            padding: 3% 3%;
        }

        .topic-filter{
            width: 94%;
            padding: 3% 3%;
            font-size: 0.8em;

            a{
                margin-left: 0px;
                margin-right: 15px;
                color: rgba(0, 0, 0, 0.44);

                i{
                    margin-right: 5px;
                    font-size: 0.8em;
                }
            }
        }

        .button{
            padding: 2%;
            margin: 0.5% 3%;
        }
    }

    .content{
        width: 100%;
        margin-bottom: 10%;

        .alert{
            width: 94%;
            padding: 10% 3%;
            font-size: 0.9em;
        }

        // Order Detail page
        .order-state{
            margin-bottom: 3%;

            .state-items{
                width: 20%;
                padding: 3% 0%;
                border-bottom: 1px solid #FAFAFA;

                .icon{
                    font-size: 1.2em;
                    margin-bottom: 5%;
                }
                .caption{
                    font-size: 0.7em;
                    line-height: 2em;
                }
            }

            .state-active{
                border-bottom: 1px solid rgba(0, 0, 0, 0.9);
            }
        }

        .order-dialog{
            width: 94%;
            padding: 3%;
            line-height: 1.5em;

            .icon{
                width: 15%;
                padding-top: 10%;
                font-size: 1.2em;
            }
            .box{
                width: 85%;

                p{
                    line-height: 1.5em;
                    font-size: 0.9em;
                }

                p.caption{
                    margin-bottom: 1%;
                    font-size: 0.8em;
                }

                p.big{
                    font-size: 1.2em;
                    margin-bottom: 1%;
                }

                p.message{
                    margin-top: 1%;
                }

                .image{
                    padding: 5% 0%;
                }

                .input-text{
                    font-size: 1.2em;
                    line-height: 1.5em;
                }

                .control{
                    .button{
                        width: 50%;
                        padding: 3% 0%;
                        margin: 3% 0%;
                        font-size: 0.8em;
                        line-height: 1.5em;

                        i{
                            margin-right: 10px;
                        }
                    }
                }

                .order-list{
                    .topic-caption{
                        padding: 1% 0%;
                        font-size: 0.7em;

                        .detail{
                            width: 60%;
                        }
                        .quantity{
                            width: 15%;
                        }
                        .total{
                            width: 25%;
                        }
                    }

                    .items-in-order{
                        width: 100%;
                        line-height: 1.5em;
                        font-size: 0.8em;

                        .items-in-order-thumbnail{
                            width: 15%;
                        }
                        .items-in-order-detail{
                            width: 41%;
                            padding: 2%;
                            p.detail-description{
                                font-size: 0.8em;
                            }
                        }
                        .items-in-order-quantity{
                            width: 15%;
                            padding: 2% 0%;
                        }
                        .items-in-order-total{
                            width: 25%;
                            padding: 2% 0%;
                        }

                        .currency{
                            font-size: 0.7em;
                            color: rgba(0, 0, 0, 0.44);
                        }
                    }

                    .summary-items{
                        font-size: 0.9em;

                        .detail{
                            width: 60%;
                            margin-left: 0%;
                            padding: 2% 0%;
                        }
                        .total{
                            width: 40%;
                            padding: 2% 0%;
                        }

                        .currency{
                            font-size: 0.7em;
                            color: rgba(0, 0, 0, 0.44);
                        }
                    }
                    .summary-total{
                        border-top: 1px dashed #FAFAFA;
                        font-weight: bold;
                    }
                }
            }
        }

        // Product Detail
        .detail{
            header.info{
                width: 94%;
                padding: 3%;
                line-height: 1.5em;

                h1{
                    font-size: 1.2em;
                    margin-bottom: 1%;
                }
                p{
                    font-size: 0.8em;
                }

            }

            .imageset{
                .image-items{
                    width: 50%;

                    .button-cover{
                        top: 10px;
                        right: 10px;
                        padding: 1%;
                        font-size: 1.5em;
                    }

                    .button-delete{
                        bottom: 5px;
                        right: 5px;
                        padding: 3%;
                        font-size: 0.7em;
                    }
                }
            }

            .description{
                width: 94%;
                padding: 3%;
                font-size: 0.9em;
                line-height: 1.5em;
            }

            .subproduct{

                .sub-items{
                    width: 94%;
                    padding: 3%;
                    line-height: 1.5em;
                    font-size: 0.8em;

                    .sub-items-detail{
                        width: 80%;
                    }
                    .sub-items-summary{
                        width: 20%;
                    }
                }
            }

            .stat{
                line-height: 1.5em;

                .stat-items{
                    width: 39.5%;
                    padding: 10% 5%;
                    border-bottom: 1px solid #FAFAFA;

                    .value{
                        font-size: 2em;
                        .unit{
                            font-size: 0.4em;
                            margin-left: 5px;
                        }
                    }
                    .caption{
                        font-size: 0.8em;
                    }
                }
            }

            .control{
                width: 100%;
                margin: 3% 0%;

                .control-items{
                    width: 21%;
                    padding: 3% 2%;
                    font-size: 0.75em;
                    border-left: 0px solid #FAFAFA;
                    text-align: center;
                }

                .delete{
                    float: right;
                    background: #FFFFFF;
                    margin-right: 0%;
                }
            }
        }

        .form{
            width: 100%;
            float: left;
            display: inline-block;

            .caption{
                width: 100%;
                float: left;
                display: inline-block;
                font-size: 0.9em;
                line-height: 2em;
                color: #CCCCCC;
            }
            .input-text{
                width: 100%;
                float: left;
                display: inline-block;
                font-family: @fontStyle3;
                font-size: 1em;
                border: 0px;
                border-bottom: 1px solid #EEEEEE;
                line-height: 1.5em;
                outline: 0;
            }
            .submit-button{
                float: right;
                display: inline-block;
                border: 0px;
                background: #EEEEEE;
                color: #555555;
                font-family: @fontStyle3;
                font-size: 0.9em;
                line-height: 1.5em;
                padding: 1% 4%;
            }

            .form-hidden{
                display: none !important;
            }
            .form-image{
                width: 100%;
                float: left;
                display: inline-block;

                .image-input-button{
                    width: 94%;
                    padding: 3%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    background: #FAFAFA;
                    color: #555555;
                    font-size: 1em;
                    line-height: 1.5em;
                    border-top: 1px dashed #EEEEEE;
                    border-bottom: 1px dashed #EEEEEE;
                    margin-bottom: 1%;

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                        border-top: 1px dashed #CCCCCC;
                        border-bottom: 1px dashed #CCCCCC;
                    }

                    i{
                        margin-right: 10px;
                    }
                }
                .input-file{
                }

                .image-items{
                    width: 49.5%;
                    float: left;
                    display: inline-block;
                    margin-bottom: 1%;
                    margin-right: 0.5%;

                    &:nth-child(even){
                        margin-right: 0%;
                        margin-left: 0.5%;
                    }
                    
                    img{
                        width: 100%;
                        float: left;
                        display: inline-block;

                        &:hover{
                            opacity: 0.6;
                        }
                    }
                }
            }

            .form-items{
                width: 94%;
                padding: 3%;
                float: left;
                display: inline-block;
            }

            .form-submit{
                width: 94%;
                padding: 3%;
                float: left;
                display: inline-block;
            }
        }

        // Product items style
        .product-items{
            width: 100%;
            font-size: 0.8em;
            line-height: 1.5em;
            margin-bottom: 0.5%;

            .product-thumbnail{
                width: 25%;
                min-height: 50px;
            }

            .product-content{
                width: 75%;

                .detail{
                    width: 70%;
                    padding: 3% 5%;
                }
                .quantity{
                    width: 14%;
                    padding: 3%;
                    line-height: 1.5em;
                }
            }

            .product-subproduct{
                width: 75%;

                .subproduct-title{
                    width: 90%;
                    padding: 0% 5%;
                    padding-top: 3%;
                }

                .subproduct-items{
                    .subproduct-detail{
                        width: 70%;
                        padding: 3% 5%;
                    }
                    .subproduct-quantity{
                        width: 14%;
                        padding: 3%;
                    }
                }
            }
        }

        .order-items{
            width: 94%;
            padding: 3%;
            margin-bottom: 0.5%;
            line-height: 1.5em;

            p{
                font-size: 0.9em;
                color: rgba(0, 0, 0, 0.9);
            }

            p.mini{
                font-size: 0.8em;
                color: rgba(0, 0, 0, 0.44);
            }

            .notification-icon{
                width: 7%;
                font-size: 0.8em;
            }

            .detail{
                width: 68%;
            }
            .summary{
                width: 25%;

                .total{
                    .currency{
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}