body{
	background: #FFFFFF;
	font-family: sans-serif;
	line-height: 1.5em;
}
.container{
	width: 96%;
	padding: 2%;
	float: left;
	display: inline-block;
	text-align: center;
}
.logo{
	width: 100%;
	padding: 2% 0%;
	float: left;
	display: inline-block;
	border-bottom: 1px solid #000000;
	font-size: 2em;
}
.info{
	width: 100%;
	padding: 2% 0%;
	float: left;
	display: inline-block;
}
.info p{
	font-size: 1em;
	font-weight: bold;
}
.info .payments{
	font-size: 2.5em;
	font-weight: bold;
}
.info .note{
	font-size: 0.8em;
	color: #555555;
}

.bank{
	width: 96%;
	padding: 2%;
	float: left;
	display: inline-block;
	background: #F5F5F5;
}
.bank .bank-items{
	width: 100%;
	padding: 1% 0%;
	float: left;
	display: inline-block;
}
.confirm{
	width: 96%;
	padding: 4% 2%;
	float: left;
	display: inline-block;
}
.confirm a{
	text-decoration: none;
	background: #000000;
	color: #FFFFFF;
	padding: 2%;
	font-size: 0.8em;
}
.footer{
	width: 100%;
	float: left;
	display: inline-block;
	border-top: 1px solid #000000;
	font-size: 0.8em;
	padding: 1% 0%;
}
.footer a{
	color: #000000;
	font-weight: bold;
}