<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ %sitename% ได้รับหลักฐานการโอนเงินของคุณแล้ว <b>แต่ตรวจสอบไม่พบยอดเงินโอนของคุณ</b> ทั้งนี้อาจเกิดจากความผิดพลาดเกี่ยวกับหลักฐานการโอนหรือบัญชีธนาคารของคุณ <b>ใบสั่งซื้อหมายเลข %order_id%</b> ยอดชำระ <b>%summary_payment%</b> บาท ทางเราต้องขอรบกวนให้ คุณ %name% ตรวจสอบหลักฐานหรือสอบถามจากทางธนาคารของคุณ และ <a href="%domain%/order-%order_id%.html#money-transfer">ส่งหลักฐานการโอนเงินมาอีกครั้ง</a> นะคะ
ขอบคุณค่ะ</p>

	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>