<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>%sitename% ได้จัดส่งสินค้าของคุณเรียบร้อยแล้ว หมายเลขพัสดุ <b>%ems%</b> คุณสามารถนำหมายเลขนี้ ตรวจสอบสถานะการจัดส่งสินค้ากับทางไปรษณีย์ได้ที่ <a href="http://track.thailandpost.co.th/tracking/default.aspx">http://track.thailandpost.co.th/tracking/default.aspx</a>  หากคุณ %name% ได้รับสินค้าแล้ว ขอความกรุณาแจ้ง <a href="%domain%/order-%order_id%.html">รับสินค้า</a> ที่นี่ เพื่อที่ทางเราจะได้เก็บเป็นสถิติการใช้งานและนำไปพัฒนาเว็บไซต์และการบริการของเราต่อไปค่ะ<br><br>
		กรณีที่คุณ %name% ไม่ได้รับสินค้าภายใน 3 วันนับจากวันที่ทางเราได้แจ้งเลขพัสดุนี้ หรือตรวจสอบเลขพัสดุแล้วพบปัญหาใดๆ สามารถติดต่อแจ้งปัญหาได้ที่ <a href="https://www.facebook.com/messages/dotdotdotlimited">facebook.com/dotdotdotlimited</a> หรือ 0-2261-6588) ค่ะ</p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>