<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ <b>ใบสั่งซื้อหมายเลข %order_id%</b> ยอดชำระ <b>%summary_payment%</b> บาท <u>ได้รับการชำระเงินแล้ว</u> <a href="http://dotdotdot.local/order_detail.php?id=%order_id%">เช็ครายการสินค้าที่นี่</a> เรากำลังจัดส่งสินค้าตามที่อยู่ ซึ่งหลังจากที่เราจัดส่งสินค้าแล้ว จะมีอีเมลแจ้งเตือนหมายเลขพัสดุให้ทราบอีกครั้งค่ะ</p>
	<p><i>ที่อยู่สำหรับจัดส่งสินค้า</i></p>
	<p>ชื่อ: %customer_name%</p>
	<p>ที่อยู่: %customer_address%</p>
	<p>เบอร์โทรศัพท์: %customer_phone%</p>
	<hr>
	<p>ขอบคุณค่ะ</p>
	<p>© 2015 dotdotdot limited</p>
</body>