<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p>สวัสดีค่ะ %sitename% ตรวจสอบใบสั่งซื้อ หมายเลข %order_id% ยอดชำระ %summary_payment% บาท ได้รับการชำระเงินแล้วค่ะ <a href="%domain%/order-%order_id%.html">เช็ครายการสินค้าที่นี่</a> เรากำลังจัดส่งสินค้าตามที่อยู่ ซึ่งหลังจากที่เราจัดส่งสินค้าแล้ว จะมีอีเมลแจ้งหมายเลขพัสดุให้ทราบอีกครั้งค่ะ</p>
	
	<p>
		<i>ที่อยู่สำหรับจัดส่งสินค้า</i><br>
		ชื่อ: %customer_name%<br>
		ที่อยู่: %customer_address%<br>
		เบอร์โทรศัพท์: %customer_phone%
	</p>
	
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>