<body style="font-family:sans-serif;">
	<p><b>ถึง คุณ %name%</b></p>
	<p><b>ใบสั่งซื้อหมายเลข %order_id%</b> ได้รับการชำระเงินแล้ว <b>(ยอดชำระ %summary_payment% บาท)</i><br>
		เรากำลังจัดส่งสินค้าตามที่อยู่ ซึ่งหลังจากที่เราจัดส่งสินค้าแล้ว จะมีอีเมลแจ้งเตือนหมายเลขพัสดุให้ทราบอีกครั้งค่ะ<br><a href="%domain%/order-%order_id%.html">เช็ครายการสินค้าที่นี่</a></p>
	<p>
		<i>ที่อยู่สำหรับจัดส่งสินค้า</i><br>
		ชื่อ: %customer_name%<br>
		ที่อยู่: %customer_address%<br>
		เบอร์โทรศัพท์: %customer_phone%
	</p>
	<p>ขอบคุณค่ะ</p>
	<hr>
	<p>© Copyright %copyrightyear% – %sitename%</p>
</body>